

<div class="blockTop">
    <dir class="TorneoLogo">
        <a href="/log-in" style="height:103px "><img src="images/login_btn.png" alt="" style=" height: 71px;
    width: auto;"></a>
      <a href="/sign-up" style="height:103px "><img src="images/register_btn.png" alt="" style=" height: 71px;
    width: auto;"></a>
    <p style="line-height: 15px;
    color: #FFF;"> We present to you the G-Gamer's €500 Fortnite Duo Tournament, it's time to take it to the next level: powered by DIGIPOKE...
the entry will be free </p>
    </dir>
    {{!-- <a href="#"><img src="/images/discord.png" alt=""></a> --}}


</div>