
  

{{!-- <center><img src="/images/george.jpg" alt="" height="290" width="auto"></center>
 <form action="/log-out" method="POST">
                <input type="submit" class="nav-link" value="Log out">
              </form> --}}

<div class="flex-containerP">   
  <div class="flex-item">Item

      <h1 style="color:#FFF">Welcome back {{user.username}}!</h1>

      <form action="/users" method="POST" enctype="multipart/form-data">
	<label for="">Name: </label>
	<input type="text" name="title">

	<label for="">Description: </label>
	<input type="text" name="description">

	<label for="">Tournaments: </label>
	<input type="file" name="poster">
	
</form>
  </div>            
</div>
