
  

<center><img src="/images/george.jpg" alt="" height="290" width="auto"></center>
 <form action="/log-out" method="POST">
                <input type="submit" class="nav-link" value="Log out">
              </form>

<div class="flex-containerP">   
  <div class="flex-item">Item

      <h1 style="color:#FFF">Welcome back {{user.username}}!</h1>
<center><img src="/images/george.jpg" alt="" height="290" width="auto"></center>
 <form action="/log-out" method="POST">
                <input type="submit" class="nav-link" value="Log out">
              </form>

  </div>            
</div>
